.form-box {
  width: 420px;
  overflow: hidden;
  &__title {
    margin-bottom: 24px;
    font: {
      size: 24px;
      weight: 700;
    }
    text-align: center;
    color: #111;
  }
  .input-cell {
    margin-bottom: 24px;
  }
}
